version: '3.8'
services:
  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=product_db
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
